@{
    ViewBag.Title = Resource.Reviews;
    ViewBag.Keywords = Resource.Keywords;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section meta{
    <link rel="canonical" href="@(Resource.UrlSite + "/info/reviews")" />
    <meta property="og:image" content="http://nitsak.com.ua/img/social/nitsak-fb.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewBag.Title">
    @*<meta property="og:description" content="@ViewBag.Description" />*@
    <meta name="twitter:image" content="http://nitsak.com.ua/img/social/nitsak-fb.png">
    <meta name="twitter:title" content="@ViewBag.Title">
    @*<meta name="twitter:description" content="@ViewBag.Description">*@
}
<div class="page-title">
    <div class="container">
        <div class="column"><h1>@Resource.Reviews</h1></div>
        <div class="column">
            <ul class="breadcrumbs">
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="@Url.Action("grid", "catalog")"><span itemprop="title">@Resource.Catalog</span></a></li>
                <li class="separator">&nbsp;</li>
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="@Url.Action("reviews", "info")"><span itemprop="title">@Resource.Reviews</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container padding-bottom-3x mb-1 container-min-height">
    <div id="disqus_thread"></div>
    <noscript>Пожалуйста, включите JavaScript, чтобы просмотреть <a href="https://disqus.com/?ref_noscript"> комментарии от Disqus.</a></noscript>
</div>
@section scripts
{
    <script id="dsq-count-scr" src="//localhost-w7omwwmtni.disqus.com/count.js" async></script>
    <script>
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://nitsak.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
}
